---
- name: Generate Inventory
  hosts: localhost
  connection: local
  gather_facts: false
  vars:
    ansible_hosts: "{{ lookup('env', 'ANSIBLE_HOSTS') }}"
    ansible_user: "{{ lookup('env', 'ANSIBLE_USER') }}"
  tasks:
    - name: Generate inventory file
      ansible.builtin.copy:
        content: "{{ lookup('template', playbook_dir + '/../templates/inventory.j2') }}"
        dest: "/workspace/ansible/inventory.ini"
        mode: "0644"
