[defaults]
host_key_checking = {{ 'False' if initial_setup | default(false) else 'True' }}
retry_files_enabled = True
retry_files_save_path = ~/.ansible/retry-files
stdout_callback = yaml
display_skipped_hosts = false
display_ok_hosts = false
display_failed_stderr = true
display_args_to_stdout = true
# Fix permission issues
local_tmp = /tmp/.ansible/tmp
remote_tmp = /tmp/.ansible/tmp
# Performance improvements
pipelining = true
fact_caching = memory

[ssh_connection]
pipelining = true 