githubConfigUrl: https://github.com/{{ runner_organization }}
githubConfigSecret:
  github_app_id: {{ github_app_id }}
  github_app_installation_id: {{ github_app_installation_id }}
  github_app_private_key: |
    {{ github_app_private_key | indent(4) }}
containerMode:
  type: dind
minRunners: 1
maxRunners: 1

