[all]
{% for host in ansible_hosts.split('\n') | select('string') | reject('match', '^\s*$') | list %}
{{ host }} ansible_user={{ ansible_user }} ansible_python_interpreter=/usr/bin/python3
{% endfor %}
