---
driver:
  name: docker

platforms: []

provisioner:
  name: ansible
  config_options:
    defaults:
      callback_whitelist: profile_tasks
      host_key_checking: false
      local_tmp: /tmp/.ansible/tmp
      remote_tmp: /tmp/.ansible/tmp
      display_skipped_hosts: false
      display_ok_hosts: false
      pipelining: true
      fact_caching: memory
  inventory:
    group_vars:
      all:
        ansible_connection: local
  playbooks:
    prepare: ${MOLECULE_PREPARE_PLAYBOOK:-prepare.yml}
    converge: ${MOLECULE_PLAYBOOK:-converge.yml}

verifier:
  name: ansible
  options:
    playbooks:
      verify: ${MOLECULE_VERIFY_PLAYBOOK:-verify.yml} 