---
driver:
  name: docker

platforms:
  - name: mongodb
    image: mongo:6.0
    command: mongod --bind_ip_all --port 27017
    ports:
      - "27017:27017"
    env:
      MONGO_INITDB_DATABASE: test

provisioner:
  name: ansible
  config_options:
    defaults:
      host_key_checking: false
      local_tmp: /tmp/.ansible/tmp
      remote_tmp: /tmp/.ansible/tmp
      pipelining: true
      fact_caching: memory
  inventory:
    group_vars:
      all:
        ansible_connection: docker

verifier:
  name: ansible 